EJ1.dtd

?xml encoding="UTF-8"?>

<!ELEMENT relacion (persona)+>
<!ATTLIST relacion
  xmlns CDATA #FIXED ''>

<!ELEMENT persona (nombre,email+,parentesco?)>
<!ATTLIST persona
  xmlns CDATA #FIXED ''
  carnet NMTOKEN #REQUIRED
  sexo NMTOKEN #IMPLIED>

<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre
  xmlns CDATA #FIXED ''>

<!ELEMENT email (#PCDATA)>
<!ATTLIST email
  xmlns CDATA #FIXED ''>

<!ELEMENT parentesco EMPTY>
<!ATTLIST parentesco
  xmlns CDATA #FIXED ''
  tipo NMTOKEN #REQUIRED>